*{
    font-family: initial;
    
    
}
#menu{
    position: absolute;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    background-color: whitesmoke;
}
#logoprin{
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    top: 5%;
    left: 5%;
/*    height: 175px;
    width: 275px;*/
    color: black;
}
#carrito{
    position: absolute;
    top: 25%;
    right:5%;
    height: 40px;
    width: 40px;
}
#envios{
    position: absolute;
    top: 25%;
    right:10%;
    height: 40px;
    width: 40px;
}
#registrar{
    text-decoration: none;
    position: absolute;
    top: 5%;
    right: 30%;
    color: black;
}
#inicioses{
    text-decoration: none;
    position: absolute;
    top: 5%;
    right: 20%;
    color: black;  
}
#nav{
    position: absolute;
    top: 10%;
    left: 0;
    height: 7%;
    width: 100%;
    background-color: black;
    color: white 
}


#hombre{
    position: absolute;
    top: 3%;
    left: 30%;
}
#mujer{
    position: absolute;
    top: 10%;
    left: 40%;
    
}
#niños{
    position: absolute;
    top: 10%;
    left: 50%;
   
}

#descuentos{
    position: absolute;
    top: 10%;
    left: 60%;
   
}
#nav h2{
    top: 3%;
    color: white;
}
#barraizq {
    position: absolute;
    top: 17%;
    left: 0;
    bottom:0; 
/*    height: 82%;*/
    width: 15%;
    background-color: whitesmoke;
    color: black;
    border-right: black solid medium;
}
#barraizq h3{
    color: black;
}
#barraizq article{
    border: black solid thin;
    left: 5%;
    top: 5%;
}

#barraizq article h3{
    text-align: center;
}

#Hombreimg{
    position: absolute;
    top: 26%;
    left: 17%;
    height: 700px;
    width: 600px;
}
#Mujerimg{
    position: absolute;
    top: 26%;
    left: 50%;
    height: 700px;
    width: 600px;
}

#piepagina{
    position: fixed;
    bottom:0%;
    left: 0%;
    height:4%;
    width: 100%;
    background-color: black;
    color: whitesmoke;
    text-align: center;
}
#seccionh{
    overflow: auto;
    top: 17%;
    left:15%; 
    bottom: 0;
    
}
#seccionh article{   
    border: black solid thin;   
    
}

#articulo1{
    text-align: center;
    align-content: center;
    position: absolute;
    left: 20%;
    top: 20%;
}
#articulo2{
    text-align: center;
    align-content: center;
    position: absolute;
    left: 40%;
    top: 20%;
}
#articulo3{
    text-align: center;
    align-content: center;
    position: absolute;
    left: 60%;
    top: 20%;
}
#articulo4{
    text-align: center;
    align-content: center;
    position: absolute;
    left: 80%;
    top: 20%;
}
#articulo5{
    text-align: center;
    align-content: center;
    position: absolute;
    left: 20%;
    top: 60%;
}
#articulo6{
    text-align: center;
    align-content: center;
    position: absolute;
    left: 40%;
    top: 60%;
}
#articulo7{
    text-align: center;
    align-content: center;
    position: absolute;
    left: 60%;
    top: 60%;
}
#articulo8{
    text-align: center;
    align-content: center;
    position: absolute;
    left: 80%;
    top: 60%;
}
#articulo9{
    text-align: center;
    align-content: center;
    position: absolute;
    left: 20%;
    top: 100%;
}
#articulo10{
    text-align: center;
    align-content: center;
    position: absolute;
    left: 40%;
    top: 100%;
}
#articulo11{
    text-align: center;
    align-content: center;
    position: fixed;
    left: 60%;
    top: 100%;
}

#btnCarr{
    background-color: black;
    color: white;
   
}
#btnCarr:hover{
    background-color: whitesmoke;
    color: black;
}