<!DOCTYPE html>

<html>
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/estilos.css" rel="stylesheet" type="text/css"/>


    </head>
    <body>

        <header id="menu">
            <a href="index.html" id="logoprin"><h1>STAL SHOP</h1></a>
            <a href="index.html" id="iconocarr"><img id="carrito" src="images/107831.png" alt="logo"/></a>
            <a href="index.html" id="iconoenv"><img id="envios" src="images/envios.png" alt="logo"/></a>
            <a href="index.html" id="registrar"><h2>Registrarse</h2></a>
            <a href="index.html" id="inicioses"><h2>Iniciar Secion</h2></a>
            
        </header>
        <nav id="nav">
        <a href="hombre.html"><h2 id="hombre">Hombre</h2></a>
        <a href="mujer.html"><h2 id="mujer">Mujer</h2></a>
        <a href="niño.html"><h2 id="niños">Niño</h2></a>
        <a href="descuentos.html"><h2 id="descuentos">Descuentos</h2></a>
        </nav>
        <aside id="barraizq">
            <h3>xd</h3>
        </aside>
        
        <section id="contenido">
            <img id="Hombreimg" src="images/ropa.jpg" alt="logo"/>
            <img id="Mujerimg" src="images/ropamujer.jpg" alt="logo"/>
        </section>
        <footer id="piepagina">Derechos Reservados &COPY; 22 <address style="display:inline">71149554</address></footer>
    </body>
</html>
