<!DOCTYPE html>

<html>
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/estilos.css" rel="stylesheet" type="text/css"/>
             
    </head>
    <body>
        
        <header id="menu">
            <a href="index.html"><img id="logo" src="images/Logo Final.png" alt="logo"/></a>
            <a href="hombre.html"><h2 id="hombre">Hombre</h2></a>
            <a href="mujer.html"><h2 id="mujer">Mujer</h2></a>
            <a href="zapatos.html"><h2 id="zapatos">Zapatos</h2></a>
            <a href="ofertas.html"><h2 id="sale">Sale</h2></a>
        </header>
        
        <nav id="menu2"></nav>
        
        <aside id="barraizq">
            <h3>xd</h3>
        </aside>
        <aside id="barrader">
            <h3>xd</h3>
        </aside>
        <section id="contenido">
            <img id="Hombreimg" src="images/ropa.jpg" alt="logo"/>
            <img id="Mujerimg" src="images/ropamujer.jpg" alt="logo"/>
        </section>
        <footer id="piepagina">Derechos Reservados &COPY; 22 <address style="display:inline">71149554</address></footer>
    </body>
</html>
